// Color variables
$black: #181818;
$light-blue: #007aff;
$blue: #213875;
$red: #DA1333;
$red-dark: #A70101;
$white: #fff;

// Config
$color-background: $white !default;
$color-dot-accent: $red !default;
$color-foreground: $blue !default;
$color-title: $white !default;
$color-body-text: $blue !default;
$color-text-accent: $red-dark !default;
$color-code: $red-dark !default;
$color-nav-link: $white !default;
$color-primary-link: $white !default;

// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities"
;